@page

@{
	ViewData["Title"] = "Factorial";
}

@functions {
public string Message { get; set; }

public void OnGet()
{
	Message = "Input a number";
}

public void OnPost(int? number)
{
	if (number == null || number < 1)
	{
		Message = "Invalid number. Repeat inputing";
	}
	else
	{
		int result = 1;
		for (int i = 1; i <= number; i++)
		{
			result *= i;
		}
		Message = $"Factorial of number {number} is {result}";
	}
}
}

<h2>@Model.Message</h2>
<form method="post">
	<input type="number" name="number" />
	<input type="submit" value="Send" />
</form>