@page "{handler?}"

@model PersonModel
@using RazorPagesApp.Models

<h2>Users</h2>
<table class="table">
	<tr><td>Name</td><td>Age</td></tr>
	@foreach (Person person in Model.DisplayedPeople)
	{
		<tr>
			<td>@person.Name</td>
			<td>@person.Age</td>
		</tr>
	}
</table>